.ramka {
  position: absolute;
  top: 80px;
  right: 15px;
  width: 18vw;
  height: 19vh;
  border-color: antiquewhite;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  flex-wrap: wrap;
  height: 80px;
  width: 300px;
  -webkit-box-shadow: 0px 0px 17px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 17px -4px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 17px -4px rgba(66, 68, 90, 1);
  text-align: center;
  padding-top: 8px;
}
.zaloguj {
  background-color: rgb(202, 48, 73);
  font-family: Arial, Helvetica, sans-serif;

  height: 50px;
  width: 200px;
  color: white;
}
.tek1 {
  font-size: 14px;
}
.pinki {
  color: rgb(202, 48, 73);
  text-decoration: double;
}
