.font-test-family {
  font-family: Chilanka;
}
.btn {
  background-color: #fe3756;
  color: white;
  margin-top: 50px;
  padding: 20px, 36px, 20px, 36px;
  border-radius: 10px;
  width: 326px;
  height: 56px;
}
.przesun {
  margin-left: 140px;
}
