footer {
  grid-area: footer;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 270px;
  position: relative;
  padding: 15px 5px;
}

footer > * {
  color: #ffff;
  text-decoration: none;
}

footer .text-up {
  align-items: flex-start;
}

footer .text-down {
  align-items: flex-end;
}

footer a {
  position: relative;
  right: 80px;
  width: 75%;
}
