.paragraph {
  background-color: green;
  padding: 5px 25px 25px 5px;
  border: 10px solid black;
  border-style: dashed;
  border-radius: 13px;
  font-style: italic;
  color: white;
  margin: 5px 25px;
}
.inline-span {
  display: block;
  background-color: bisque;
}
.content-box {
  box-sizing: content-box;
  width: 400px;
}
