div.selectors p {
  font-size: 50px;
  text-align: center;
}
div p:last-child {
  font-size: 15px;
  color: grey;
}
div p:last-child::after {
  content: 'Przeczytaj więcej >';
  display: block;
  cursor: pointer;
  color: blue;
}
p.my-custom-arrow.arrow-button {
  color: red;
}

a[href*='#'] {
  border: red 1px solid;
}
div[data-position]:after {
  content: '.' attr(data-position) '.';
}
div.hoverable {
  transform: all 0.2s ease-in-out;
}

div.hoverable:hover {
  border: red;
  transform: scale(1.1);
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 12px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.blogposts .date {
  font-family: 'MADE-TOMMY';
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 24px;
}

.blogposts h1 {
  font-family: 'MADE TOMMY';
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 56px;
  color: #222222;
}
.blogposts .text {
  margin-left: 50px;
  width: 912px;
  height: 189px;
  padding: 45px, 61px, 45px, 61px;
}
.blogposts .paragraph {
  margin-left: 50px;
  margin-top: 0px;
}
.blogposts .text2 {
  margin-left: 50px;
  margin-top: 20px;
  width: 912px;
  height: 85px;
  padding: 45px, 61px, 45px, 61px;
}
.blogposts .text3 {
  margin-left: 50px;
  margin-top: 20px;
  width: 912px;
  height: 110px;
  padding: 45px, 61px, 45px, 61px;
}
.container {
  display: flex;
  justify-content: space-around;

  margin-top: 30px;
  margin-left: 50px;
}
